.App {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  background: black;
}

.logo {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin: 5px 10px;
}

.logo img {
  width: 100%;
}

.appname {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

table tbody tr td img {
  border-radius: 10px;
  max-width: 150px;
  margin: 10px;
}

table {}

table {
  /* width: 100%; */
  /* overflow: hidden; */
}

table tbody tr td p {
  padding-right: 10px;
  margin-top: 5px;
  font-size: 18px;
}

table tbody tr td {
  vertical-align: top;
  padding-bottom: 20px;
  border-bottom: 1px solid #999999;
}

h3 {
  font-size: 22px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

input[type="button"] {
  background: darkslategrey;
  color: #fff;
  border: none;
  padding: 7px 15px;
}

.search-label {
  font-size: 18px;
  color: limegreen;
  font-style: italic;
  padding: 10px;
  font-weight: bold;
}
.no-result {
  padding: 10px;
}